@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="~/images/shakeel.png" asp-append-version="true" height="400" width="400" alt="new image" />    
@* use tag helper asp-append-version then check if path change download from server
    else download from browser cache memory*@ 